{
    "type": "access_token",
    "path": "/oauth/access_token",
    "parameters": { 
        "client_id": "YOUR_CLIENT_ID",
        "client_secret": "YOUR_CLIENT_SECRET",
        "grant_type": "client_credentials"
    },
    "https": false,
    "port": 80
}
