[
    {
        "interaction_name": "search",
        "extractor": {
            "results.from_user_id": "results.from_user.id",
            "results.from_user": "results.from_user.name",
            "results.profile_image_url": "results.from_user.profile_image_url",
            "results.to_user_id": "results.to_user.id"
        }
    }
]
