{
    "type": "access_token_authorization",
    "path": "/oauth2/token",
    "method": "POST",
    "login": "",
    "password": "",
    "parameters": {
      "grant_type": "client_credentials"
    }
}
